/* Variables */
:root {
  --primary: rgba(255, 142, 20, 1);
  --secondary: rgba(38, 115, 181, 1);
  --blue: rgba(223, 238, 251, 1);
  --grey: rgba(68, 68, 68, 1);
  --ltgrey: 100, 100, 100;
  --light: rgba(255, 255, 255, 1);
  --dark: rgba(0, 0, 0, 1);
  --overlay: rgba(0, 0, 0, 0.9);
}
.btn-primary {
  border: 3px solid var(--grey);
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: var(--grey);
  color: var(--light);
}
/* Nav */
header ul {
  display: flex;
}
header li {
  padding: 0 12px;
}
header nav a {
  text-decoration: none;
  font-size: 1rem;
}
.logo-dark {
  filter: invert(100%);
}
.logo img {
  position: absolute;
  margin-top: -4.2rem;
  z-index: 2;
}
.nav-container {
  max-width: 92rem;
  padding: 2% 5%;
  margin: 0 auto;
  overflow: hidden;
}
.top-nav,
.mobile-nav {
  height: 5rem;
  background-color: var(--blue);
}
.top-nav li,
.top-nav a {
  font-size: 0.83rem;
}
.top-nav ul {
  align-items: baseline;
}
.main-nav {
  height: 5rem;
  color: var(--grey);
  border-bottom: 0.01rem solid rgba(var(--ltgrey), 0.1);
}
.main-nav a {
  font-weight: bold;
}
.main-nav i {
  color: var(--primary);
}
.mobile-nav {
  display: none;
}
.mobile-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
nav li a:hover {
  color: var(--ltgrey);
}
/* Hamburger Menu */
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.menu-btn span {
  width: 100%;
  height: 2px;
  background-color: var(--grey);
}
.menu-btn:hover span:nth-child(2) {
  background-color: var(--primary);
}
/* Mobile Nav Display */
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}
#side-drawer header {
  height: 4.2rem;
  padding: 4% 8%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--light);
}
#side-drawer:target {
  display: block;
}
#side-drawer ul {
  list-style: none;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#side-drawer li {
  margin: 0.5rem 0;
}
#side-drawer a {
  text-decoration: none;
  color: var(--light);
  font-size: 1.4rem;
}
/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 5% 0;
  overflow: hidden;
}
.hero-image img {
  height: 40rem;
  width: 90%;
  align-items: center;
  object-fit: cover;
}
.hero-content {
  max-width: 400px;
  text-align: left;
  padding: 4rem 1.4rem;
  position: relative;
}
.hero-content h5 {
  text-transform: uppercase;
  color: rgba(var(--ltgrey), 0.6);
}
/* Features */
.feature-header {
  border-bottom: 2px solid var(--grey);
}
.feature-mobile {
  display: none;
}
.features-container {
  width: 80%;
  padding: 0;
  justify-content: flex-end;
  margin-left: auto;
}
.feature-scroll {
  margin: 20px 0;
  display: flex;
  padding-right: 0;
  margin-right: 0;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
}
.features-scroll::-webkit-scrollbar {
  width: 0;
}
/* Features Cards */
.card-intro h4 {
  padding: 12px 0;
  color: var(--primary);
  text-transform: uppercase;
}
.feature-scroll .card-intro a:hover {
  color: var(--primary);
}
.card-intro img,
.feature-card img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  flex: 0 0 auto;
  min-width: 280px;
  line-height: 110px;
  text-align: center;
  margin-right: 2px;
  display: block;
}
.card-intro img:first-child {
  height: 10rem;
  object-fit: center;
}
.feature-scroll .card-intro a {
  display: block;
  padding: 12px 0;
  margin: 12px 0;
  font-weight: bold;
  color: var(--secondary);
}
.feature-card h4 {
  margin: 0;
  padding: 20px;
  color: var(--light);
  background-color: var(--dark);
  text-transform: uppercase;
}
.feature-card h4:hover {
  background-color: var(--light);
  color: var(--grey);
}
.benefits-image img {
  height: 600px;
  width: 500px;
  object-fit: cover;
}
/* Benefits */
.benefits-content {
  padding: 2rem;
}
.benefits-content h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--grey);
}
.benefits-content h5 {
  color: var(--primary);
  text-transform: uppercase;
}
.benefit-icon {
  height: 4rem;
  align-items: center;
  justify-content: center;
}
.benefit-icon i {
  color: var(--ltgrey);
}
.benefit-details {
  padding: 0.1rem;
  text-align: center;
}
.benefit:hover {
  background-color: var(--light);
}
/* Media Queries */
@media (max-width: 48rem) {
  h1 {
    font-size: 2.441rem;
  }
  h2 {
    font-size: 1.68rem;
  }
  section {
    padding: 1rem 1.2rem;
  }
  .top-nav,
  .main-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .menu-btn {
    display: flex;
  }
  .flex,
  .hero {
    flex-direction: column;
  }
  .hero-image img {
    height: 24rem;
  }
  .container {
    text-align: center;
  }
  .btn-desktop {
    display: none;
  }
  .features-container {
    margin: 0 auto;
  }
  .feature-mobile {
    display: block;
  }
}
@media (max-width: 74rem) {
  .logo img {
    position: relative;
    margin-top: 0;
  }
}
