:root {
  --grey: rgba(68, 68, 68, 1);
  --light: rgba(255, 255, 255, 1);
  --dark: rgba(0, 0, 0, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 100%; /*16px*/
  color: var(--grey);
}
body {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  background-size: cover;
  resize: both;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}
/* Typography */
p {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 1rem 0 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  line-height: 1;
}
h1 {
  margin-top: 0;
  font-size: 3.852rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
h2 {
  font-size: 2.441rem;
  font-weight: 500;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.263rem;
}
h5 {
  font-size: 0.82rem;
}
img {
  max-width: 100%;
}
section {
  padding: 5rem 2rem;
}
/* Flex */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* Grids */
.grid {
  --auto-grid-min-size: 12rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 1rem;
  justify-content: space-evenly;
  align-items: space-evenly;
  overflow: hidden;
}
.grid li {
  padding: 20px 0;
  text-align: center;
  font-size: 0.8rem;
}
.grid li i {
  padding: 10px 0;
}
.grid li p {
  margin: 4px 0;
  padding: 6px;
}
/* Containers */
.container {
  max-width: 74rem;
  margin: 0 auto;
  overflow: hidden;
}
/* Buttons */
.btn {
  width: 12rem;
  height: 3rem;
  padding: 0.1rem;
  background-color: transparent;
  margin: 2rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}
